[submodule "week-1-assignment"]
	path = spl-nft-q326
	url = https://github.com/harpalll/spl-nft-q326
[submodule "week-2-assignment"]
	path = week-2-assignment
	url = https://github.com/harpalll/week-2-assignment.git
[submodule "week-3-assignment"]
	path = week-3-assignment
	url = https://github.com/harpalll/amm_q2_26.git
[submodule "week-4-assignment"]
	path = week-4-assignment
	url = https://github.com/harpalll/token22-ct-q3-26
[submodule "week-5-assignment"]
	path = anchor-core-staking
	url = https://github.com/harpalll/anchor-core-staking
